
*.dat
TPRG_Task_1/.vs/
TPRG_Task_1/TPRG_Task_1/Debug
TPRG_Task_1/TPRG_Task_1/x64
*.pdb
*.ilk
*.user
*.filters
*.vcxproj
packages
*.config
x64
*.iobj
*.ipdb
TPRG_Task_2/.vs/TPRG_Task_2/v16/.suo
*.db
*.ipch
*.pygtex
*.pygstyle
*.fdb_latexmk
*.log
*.out
*.fls
*.aux
*.toc
*.gz
